$border-radius: 0.8em;
.leaderboard {
    border-radius: $border-radius;
    background-color: white;
    list-style: none;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    width: 90vw;
    height: 90vh;
    margin: 5vh 5vw;
    list-style: none;
    padding:1em 0;
    font-size: 4vw;
    z-index: 3;
    li {
        margin: 0.5em 1em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        color: rgba(black, 0.6);
        min-width: 50%;
        p {
            margin: 0.6em 0;
        }
        &.new {
            color: $green;
            font-size: 1.2em;
        }
    }
}