$border-radius: 0.8em;
#messageBox {
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    text-align: center;
    font-size: 5vw;
    z-index: 2;
    margin: 0;
    padding: 0.8em 0;
    background-color: white;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}