#movementIcon {
    margin: 0;
    position: absolute;
    bottom: 10vh;
    left: 50%;
    width: 20vw;
    transform: translateX(-50%);
    z-index: 99;
    animation: slide 4s infinite;
    transition: opacity 0.5s ease-in-out;
    svg {
        width: 100%;
        height: auto;
    }

    &.fade {
        opacity: 0;
    }
}

@keyframes slide {
    0% {
        left: 50%;
    }
    25% {
        left: 25%;
    }
    75% {
        left: 75%;
    }
    100% {
        left: 50%;
    }
}