#scoreboard {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 7vh;
    background-color: black;
    color: white;
    z-index: 99;
    transform: translate3d(-50%, 20vh,0);
    padding: 0.5em 2em;
    display: none;
    font-family: $scoreboard;
    flex-flow: row nowrap;
    justify-content: center;
    span {
        margin: 0 0.2em;
        min-width:33.3%;
        flex: 1 0 auto;
        text-align: center;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
        &:first-child {
            margin-left: auto;
        }
    }
    div {
        display: flex;
        flex-flow: row nowrap;
        margin: 0 0.2em;
        align-items: center;
        min-width:33.3%;
        flex: 1 0 auto;
        margin-right:0;
        canvas {
            position: relative;
            width: auto;
            flex: 1 0 auto;
            border-radius: 1em;
            height: 1em;
            max-width:1em;
            margin: 0;
            padding: 0.1em;
        }
    }

    &.inc {
        span:nth-child(2) {
            color: $green;
            transform: scale(1.2);
        }
    }
    &.dec {
        span:nth-child(2) {
            color: red;
            transform: scale(1.2);
        }
    }
}