@font-face {
    font-family: 'Nexa';
    src: url('/dist/fonts/NexaHeavy.otf');
    font-weight: 900;
}
@font-face {
    font-family: 'Nexa';
    src: url('/dist/fonts/NexaHeavy.otf');
    font-weight: 400;
}

$type: 'Nexa', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;