<!doctype html>
<html>
  <head>
    <title>Websocket example</title>
  </head>
  <body>
    <input type="text" id="message">
    <button>Send</button>
    <ul></ul>
    <script type="text/javascript">
      var ws = new WebSocket('ws://' + document.domain + ':' + location.port + '/ws');
      ws.onmessage = function (event) {
        console.log(event)
        var data = JSON.parse(event.data);


        function get_age_sex() {
          var age_sex = ws.send(content);
          console.log(age_sex, 111);
        }
      }
    </script>
  </body>
</html>
